<header>
    <!-- Header Top Start -->
    <div class="header-top off-white-bg">
        <div class="container">
           <div class="row">
                <!-- Header Top left Start -->
            <div class="header-top-left col-8 col-md-3">
                <ul class="header-list-menu d-flex flex-wrap">
                    <!-- Currency Start -->
                    <li><a href="">Us Dollar<i class="fa fa-angle-down"></i></a>
                        <ul class="ht-dropdown">
                            <li><a href="">USD</a></li>
                            <li><a href="">GBP</a></li>
                            <li><a href="">EUR</a></li>
                        </ul>
                    </li>
                    <!-- Currency End -->
                    <!-- Language Start -->
                    <!-- <li><a href="">English<i class="fa fa-angle-down"></i></a>
                        <ul class="ht-dropdown">
                            <li><a href="">Spanish</a></li>
                            <li><a href="">Bengali</a></li>
                            <li><a href="">Russian</a></li>
                        </ul>
                    </li> -->
                    <!-- Language End -->
                </ul>
                <!-- Header-list-menu End -->
            </div>
            <!-- Header Top left End -->
            <!-- Header Top Right Start -->
            <div class="header-top-right col-4 col-md-9">
                <ul class="header-list-menu right-menu d-flex justify-content-end">
                    <li class="d-none d-md-flex justify-content-end"><span><i class="fa fa-phone"></i> Soporte: () 0984523676-096906 5978</span></li>
                    <!-- <li><a href=""><i class="fa fa-cog"></i>setting</a>
                        <ul class="ht-dropdown ht-account">
                            <li><a href="account.html">My account</a></li>
                            <li><a href="wishlist.html">my wishlist</a></li>
                            <li><a href="login.html">sign in</a></li>
                        </ul>
                    </li> -->
                </ul>
                <!-- Header-list-menu End -->
            </div>
            <!-- Header Top Right End -->
           </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Top End -->
    <!-- Header Middle Start -->
    <div class="header-middle white-bg header-sticky">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-5 col-md-3">
                    <!-- Logo Start -->
                    <div class="logo d-none d-md-block">
                        <a href="index.html"><img src="img/logo/logo.png" alt="logo-image"></a>
                    </div>
                    <!-- Logo End -->
                    <div class="d-md-none full-col plr-0">
                        <!-- Logo Start -->
                        <div class="logo">
                            <a href="index.html"><img src="img/logo/logo.png" alt="logo-image"></a>
                        </div>
                        <!-- Logo End -->
                    </div>
                </div>

                <div class="col-md-9 d-none d-md-block">
                     <!-- Header Middle Menu Start -->
                     <div class="middle-menu">
                        <nav>
                            <ul class="middle-menu-list">
                                <li><a href="index.html">Inicio</a>
                                    
                                </li>
                                <li><a href="about.html">Open Import</a></li>
                                <li><a href="contact.html">contacto</a></li>
                                
                                <li><a href="shop.html">Tienda</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Middle Menu End -->
                </div>
                 <!-- Cartt Box Start -->
                <div class="col-7 col-md-12 full-col fl-r d-md-none">
                    <div class="cart-box">
                        <ul class=" pe-5 text-end">
                            
                            <li><a href=""><i class="fa fa-shopping-basket"></i><span class="cart-counter">2</span></a>
                                <ul class="ht-dropdown main-cart-box">
                                    <li>
                                        <!-- Cart Box Start -->
                                        <div class="single-cart-box">
                                            <div class="cart-img">
                                                <a href=""><img src="img/menu/1.jpg" alt="cart-image"></a>
                                            </div>
                                            <div class="cart-content">
                                                <h6><a href="product.html">Alpha Block Black Polo T-Shirt</a></h6>
                                                <span>1 × $399.00</span>
                                            </div>
                                            <a class="del-icone" href=""><i class="fa fa-window-close-o"></i></a>
                                        </div>
                                        <!-- Cart Box End -->
                                        <!-- Cart Box Start -->
                                        <div class="single-cart-box">
                                            <div class="cart-img">
                                                <a href=""><img src="img/menu/2.jpg" alt="cart-image"></a>
                                            </div>
                                            <div class="cart-content">
                                                <h6><a href="product.html">Red Printed Round Neck T-Shirt</a></h6>
                                                <span>2 × $299.00</span>
                                            </div>
                                            <a class="del-icone" href=""><i class="fa fa-window-close-o"></i></a>
                                        </div>
                                        <!-- Cart Box End -->
                                        <!-- Cart Footer Inner Start -->
                                        <div class="cart-footer fix">
                                            <h5>total :<span class="f-right">$698.00</span></h5>
                                            <div class="cart-actions">
                                                <a class="checkout" href="checkout.html">Checkout</a>
                                            </div>
                                        </div>
                                        <!-- Cart Footer Inner End -->
                                    </li>
                                </ul>
                            </li>
                            <li class="search-bar-xs d-none"><a href=""><i class="fa fa-search"></i></a>
                                <div class="ht-dropdown search-box-view">
                                    <form action="index.html#">
                                        <input type="text" class="email" placeholder="Busquedas...." name="email">
                                        <button type="submit" class="submit"></button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Cartt Box End -->
                <!-- Mobile Menu  Start -->
                <div class="col-12 d-md-none">
                    <div class="mobile-menu">
                        <nav>
                            <ul>
                                <li><a href="index.html">Inicio</a>
                                </li>
                                <li><a href="about.html">Open Import</a></li>
                                <li><a href="shop.html">Tienda</a>
                                </li>
                                <li><a href="contact.html">Contacto</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Mobile Menu  End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Middle End -->
    <!-- Header Bottom Start -->
    <div class="header-bottom black-bg d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-6 d-none full-col">
                    <!-- Logo Start -->
                    <div class="logo">
                        <a href="index.html"><img src="img/logo/logo.png" alt="logo-image"></a>
                    </div>
                    <!-- Logo End -->
                </div>
                <!-- Primary Vertical-Menu Start -->
                <div class="col-lg-3 col-md-4 d-none d-md-block">
                    <div class="vertical-menu">
                        <span class="categorie-title">Categorias </span>
                        <nav>
                            <ul class="vertical-menu-list menu-hidden">
                                <li><a href="shop.html"><span><img src="img/vertical-menu/1.png" alt="menu-icon"></span>Accesorios</a>
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/2.png" alt="menu-icon"></span>Laptop</a>
                                </li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/3.png" alt="menu-icon"></span>Telefonos</a>
                                </li>
                                
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Primary Vertical-Menu End -->
                <!-- Search Box Start -->
                <div class="col-lg-6 col-md-5 d-none d-md-block ">
                    <div class="search-box-view fix position-relative">
                        <form action="index.html#">
                            <input type="text" class="email" placeholder="Busquedas..." name="email">
                            <button type="submit" class="submit"></button>
                        </form>
                    </div>
                </div>
                <!-- Search Box End -->
                <!-- Cartt Box Start -->
                <div class="col-lg-3 col-md-3 col-6 full-col fl-r">
                    <div class="cart-box">
                        <ul class="text-end">
                            
                            <li><a href=""><i class="fa fa-shopping-basket"></i><span class="cart-counter">2</span></a>
                                <ul class="ht-dropdown main-cart-box">
                                    <li>
                                        <!-- Cart Box Start -->
                                        <div class="single-cart-box">
                                            <div class="cart-img">
                                                <a href=""><img src="img/menu/1.jpg" alt="cart-image"></a>
                                            </div>
                                            <div class="cart-content">
                                                <h6><a href="product.html">Alpha Block Black Polo T-Shirt</a></h6>
                                                <span>1 × $399.00</span>
                                            </div>
                                            <a class="del-icone" href=""><i class="fa fa-window-close-o"></i></a>
                                        </div>
                                        <!-- Cart Box End -->
                                        <!-- Cart Box Start -->
                                        <div class="single-cart-box">
                                            <div class="cart-img">
                                                <a href=""><img src="img/menu/2.jpg" alt="cart-image"></a>
                                            </div>
                                            <div class="cart-content">
                                                <h6><a href="product.html">Red Printed Round Neck T-Shirt</a></h6>
                                                <span>2 × $299.00</span>
                                            </div>
                                            <a class="del-icone" href=""><i class="fa fa-window-close-o"></i></a>
                                        </div>
                                        <!-- Cart Box End -->
                                        <!-- Cart Footer Inner Start -->
                                        <div class="cart-footer fix">
                                            <h5>total :<span class="f-right">$698.00</span></h5>
                                            <div class="cart-actions">
                                                <a class="checkout" href="checkout.html">Checkout</a>
                                            </div>
                                        </div>
                                        <!-- Cart Footer Inner End -->
                                    </li>
                                </ul>
                            </li>
                            <li class="search-bar-xs d-none"><a href=""><i class="fa fa-search"></i></a>
                                <div class="ht-dropdown search-box-view">
                                    <form action="index.html#">
                                        <input type="text" class="email" placeholder="Search for item..." name="email">
                                        <button type="submit" class="submit"></button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Cartt Box End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Bottom End -->
</header>