<div class="wrapper">
  <app-header  [hidden]="router.url.includes('/login')"></app-header>
  <router-outlet></router-outlet>
  <div class="mobile-vertical-menu d-md-none vertical-style-one">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Primary Vertical-Menu Start -->
                <div class="vertical-menu">
                    <span class="categorie-title">Categorias </span>
                        <nav>
                            <ul class="vertical-menu-list menu-hidden">
                                <li><a href="shop.html"><span><img src="assets/assetsopen/img/vertical-menu/1.png" alt="menu-icon"></span>Accesorios</a>
                                </li>
                                <li><a href="shop.html"><span><img src="assets/assetsopen/img/vertical-menu/2.png" alt="menu-icon"></span>Laptop</a>
                                </li>
                                <li><a href="shop.html"><span><img src="assets/assetsopen/img/vertical-menu/3.png" alt="menu-icon"></span>Telefonos</a>
                                </li>
                                
                            </ul>
                        </nav>
                </div>
                <!-- Primary Vertical Menu End -->
            </div>
        </div>
    </div>
</div>
</div>






        